.login-box{
  padding-top: 50px;
  height: 100vh;
  background: url(../../images/login.jpg);
}
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.leftTop{
  padding-left: 20px; 
}

.login-form-button{
  font-size: 20px;
}