.home-body{
  /* background: #a4cab6; */
  height: 100vh;
  background: url(../../images/home.jpg);
}

.text-style{
  padding-top: 50px;
  text-align: center;
  color: #1CA57A;
  font-family: 'Edwardian Script ITC';
  font-size: 50px;
  margin-bottom: 30px;
}
.p-text{
  margin: 10px 60px;
  color: #131124;
  font-size: 18px;
  font-family: 'Ink Free';
}

.btn-box{
  text-align: center;
}
.btn-box button{
  margin: 0 10px;
  font-size: 19px;
  font-family: 'Bradley Hand ITC';
}
