.hello-body{
  /* background: #a4cab6; */
}

.text-style{
  padding-top: 50px;
  text-align: center;
  color: #1CA57A;;
  font-size: 20px;
  margin-bottom: 30px;
}
.p-text{
  margin: 10px 60px;
  color: #131124;
  font-size: 16px;
}

.btn-box{
  text-align: center;
}
.btn-box button{
  margin: 0 10px;
}
