*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #a4cab6;
}
.main-div{
  overflow: hidden;
  margin-top: 40px;
}

.tittle{
  text-align: center;
  color: #f1f1f1;
  font-size: 20px;
  margin-bottom: 30px;
}

.p-text{
  margin: 10px 60px;
  color: #eef7f2;
}

.input-p{
  text-align: center;
  clear: both;
  margin-bottom: 20px;
}
.input-p input{
  width: 25%;
  height: 24px;
  line-height: 24px;
  border-radius: 50px;
  border: 1px solid #11659a;
  padding-left: 20px;
  font-size: 16px;
  outline: none; 
}
input::-webkit-input-placeholder{
  color: #c4cbcf;
}

.btn-block{
  margin: 0 auto;
  text-align: center;
}
.btn-class{
  display: inline-block;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 10px;
}