.over{
  border: red solid 2px;
}

.dragEvent-wrap {
  height: 500px;
  margin-top: 20px;
  display: flex;
}

.content-wrap {
  width: 102px;
  height: 200px;
  border: solid 1px black;
  margin-left: 100px;
}

.item-text {
  background-color: blueviolet;
  width: 100px;
  text-align: center;
  margin-top: 3px;
}