.over{
  border: red solid 2px;
}

.dragEvent-wrap {
  height: 500px;
  margin-top: 20px;
  display: flex;
}

.main-warp{
  width: 100%;
}

.left-wrap{
  display: inline-block;
  width: 30%;
  height: 200px;
  border: solid 1px black;
  margin-left: 0px;
  margin-right: 10px;
}

.right-wrap{
  display: inline-block;
  width: 50%;
  height: 200px;
  border: solid 1px black;
  margin-left: 0px;
}

.item-text {
  display: inline-block;
  background-color: chartreuse;
  width: 40%;
  text-align: center;
  margin-top: 3px;
}