:root{
  --common-white: #fff;
}

.mainpage{
  height: 100vh;
  background: url(../images/mainpage.jpg);
  header{
    padding: 0;
    background: var(--common-white);
    height: auto;
  }
}

.view_width{
  height: 88vh;
  margin: 2%;
  background: var(--common-white);
}
.card_style{
  height: 70vh;
  border: none;
  div{
    padding: 0px;
  }
}

ion-icon{
  font-size: 18px;
  padding-right: 3px;
}

.nav1_content{
  .view_width;
  overflow-x: hidden;
}

.nav1_content > .nav1_card {
  .ant-card-body{
    height: 76vh;
    overflow: hidden;
    padding: 15px;
  }
  .nav1_row_card1{
    .card_style;
    background: #8abcd1;
  }
  .nav1_row_card2{
    .card_style;
    background: #93d5dc;
  }
  .nav1_row_card3{
    .card_style;
    background: #c4d7d6;
  }
  .add_icon{
    position: absolute;
    top: 15px;
    right: 120px;
    font-size: 25px;
    cursor: pointer;
  }
  .btn_drag_icon {
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 4px;
  }
}

.nav2_content{
  .view_width;
  overflow-x: hidden;
}

.ant-tree{
  background: none;
}

.ant-row{
  height: 100%;
}

.nav1_row > .ant-col{
  height: 100%;
}

.drag_btn{
  display: inline-block;
}

.ant-btn{
  font-size: 18px;
}

.main_col_1{
  background: #8abcd1;
}

.main_col_2{
  background: #93d5dc;
}

.content_infor{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.main_col_3{
  background: #c4d7d6;
}

.nav2_content{
  display: none;
}
.nav3_content{
  display: none;
}

.nav3_content > div > div {
  display: none;
}

.ant-card{
  margin: 15px;
  border-radius: 15px;
}

.nav2_row > div{
  // padding: 0;
}

.ant-card-cover > img {
  height: 30vh;
}

.card_content{
  cursor: pointer;
}

.setting_1{
  .view_width;
}

.carousel_style{
  height: 160px;
  line-height: 160px;
  text-align: center;
  background: #7293d3;
}

.carousel_style > * {
  color: var(--common-white);
}

.nav4_content{
  .view_width;
  overflow-x: hidden;
}

.nav4_content {
  display: none;
}

.popover_main{
  position: absolute;
  top: 1%;
  right: 2%;
}

.popover_menu{
  position: relative;
  .popover_menuIcon{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.popover_item{
  position: relative;
  .popover_badge{
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.nav5_content {
  .view_width;
  display: none;
}
.nav5_content > div > div {
  display: none;
}