.mainpage{
  height: 100vh;
  background: url(../images/mainpage.jpg);
}

ion-icon{
  font-size: 18px;
  padding-right: 3px;
}

.ant-layout-header {
  padding: 0;
  background: #fff;
  height: auto;
}

.maincontent{
  height: 88vh;
  margin: 2%;
  background: #fff;
  overflow: hidden;
}

.ant-row{
  height: 100%;
}

.ant-col{
  height: 100%;
}

.main_col_1{
  background: #8abcd1;
}

.main_col_2{
  background: #93d5dc;
}

.main_col_3{
  background: #c4d7d6;
}