.mainpage{
  height: 100vh;
  background: url(../images/mainpage.jpg);
}

:root{
  --common-white: #fff;
}

ion-icon{
  font-size: 18px;
  padding-right: 3px;
}

.ant-layout-header {
  padding: 0;
  background: var(--common-white);
  height: auto;
}

.nav1_content{
  height: 88vh;
  margin: 2%;
  background: var(--common-white);
  overflow-y: hidden;
}

.mainmenu{
  text-align: right;
}

.ant-row{
  height: 100%;
}

.ant-col{
  height: 100%;
}

.add_icon{
  font-size: 25px;
  cursor: pointer;
}

.ant-btn{
  font-size: 18px;
}

.main_col_1{
  background: #8abcd1;
}

.main_col_2{
  background: #93d5dc;
}

.main_col_3{
  background: #c4d7d6;
}

.nav2_content{
  display: none;
}
.nav3_content{
  display: none;
}

.nav3_content > div > div {
  display: none;
}