:root{
  --common-white: #fff;
}
.talk_page{
  margin: 5px;
}
.talk_show{
  height: 60vh;
  width: 100%;
  border-bottom: 2px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}
.edit_zone{
  height: 25vh;
  width: 100%;
  position: relative;
}

.send_btn{
  position: absolute;
  bottom: 0;
  right: 0;
}